@CHARSET "UTF-8";

@import url("father.css");     /* 상속 */


.trClass {
	border: 1px solid blue;
	height: 50px
}

.thClass {
	border: 1px solid yellow;
	text-align: center;
	background-color: #000080;
	color: white;
	width: 150px
}

.tdClass {
	border: 1px solid blue;
	text-align: center
}

.inputClass {
	width: 350px
}